.vscode/tasks.json
.vscode/launch.json
.vscode/settings.json
TAIS-11/.vscode/launch.json
TAIS-11/.vscode/tasks.json
TAIS-14/.vscode/settings.json
TAIS-14/.vscode/launch.json
TAIS-14/.vscode/tasks.json
TAIS-8/.vscode/settings.json
.vscode/c_cpp_properties.json
